<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Carolina Treu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Carolina Treu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
	<li><a href="/eestifilm">Eesti filmi avalehele</a></li>
  </ul>
  <h2>Eesti filmidega seotud seosed</h2>
  <form method="POST">
  <select id="personSelect" name="personSelect">
  <option selected disabled>Vali isik</option>
  <option value="1">Ervin Abel</option>
  <option value="2">Sulev Nõmmik</option>
  <option value="3">Lia Laats</option>
  <option value="4">Arvo Kruusement</option>
  <option value="5">Gunta Virkava</option>
  <option value="6">Lembit Ulfsak</option>
  <option value="7">Grigori Kromanov</option>
  <option value="8">Veljo Käsper</option>
  <option value="9">Jüri Järvet</option>
  <option value="10">Einari Koppel</option>
  <option value="11">Leida Rammo</option>
  <option value="16">Priit Pius</option>
  <option value="18">Tõnu Kark</option>
  <option value="20">Maiken Pius</option>
  </select>
  <select id="positinSelect" name="positioSelect">
  <option selected disabled>Vali amet</option>
  <option value="1">Näitleja</option>
  <option value="2">Režissöör</option>
  </select>
  <select id="movieSelect" name="movieSelect">
  <option selected disabled>Vali film</option>
  <option value="1">Siin me oleme</option>
  <option value="2">Don Juan Tallinnas</option>
  <option value="3">Hukkunud Alpinisti hotell 	</option>
  <option value="4">Kevade</option>
  <option value="5">Viini postmark</option>
  <option value="6">Mehed ei nuta</option>
  <option value="7">Noor pensionär</option>
  <option value="8">Siin me oleme</option>
  </select>
  <input type="submit" id="connectionSubmit" name="connectionSubmit" value="Lae üles">
  </form>
  <p><%=notice%></p>
</html>