<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Carolina Treu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Carolina Treu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu.</p>
  <hr>
  <h2>Siit leiab</h2>
  <ul>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href="/vanasonad">Valik Eesti vanasõnasid</a></li>
	<li><a href="/regvisit">Registreeri oma külastus</a></li>
	<li><a href="/visitlog">Külastused</a></li>
	<li><a href="/eestifilm">Eesti film</a></li>
	<li><a href="/galleryphotoupload">Lae fotosid galeriisse</a></li>
  </ul>
</body>
</html>