<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Carolina Treu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Carolina Treu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
  </ul>
  <h2>Registreeri oma külastus</h2>
  <form method="POST">
	<div>
      <label for="firstNameInput">Sinu eesnimi</label></li>
	  <input type="text" id="firstNameInput" name="firstNameInput" placeholder="Kirjuta siia oma eesnimi...">
	</div>
	<div>
	  <label for="lastNameInput">Sinu perekonnanimi</label></li>
	  <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Kirjuta siia oma perekonnanimi...">
	  <input type="hidden" id="nowWd" name="nowWd" value="nowDate">
	  <input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
	 </div>
  </form>
</body>
</html>