<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Carolina Treu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Carolina Treu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
	<li><a href="/eestifilm">Eesti filmi avalehele</a></li>
	<li><a href="/eestifilm/filmid_add">Lisa Eesti filme</a></li>
  </ul>
  <h2>Uudised</h2>
  <ul><% newsList.forEach(function(listItem){ %>
	<li><%= listItem.title %> <%= listItem.content %> <%= listItem.added %> <%= listItem.photo %></li>
	<% }); %>
  </ul>
</body>
</html>