<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Carolina Treu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Carolina Treu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
  </ul>
  <h2>Uudise lisamine</h2>
  <form method="POST">
    <label for="titleInput">Uudise pealkiri</label>
	<input id="titleInput" name="titleInput" type="text" placeholder="Uudise pealkiri..." required>
	<br>
	<label for="expireInput">Uudise aegumiskuupäev</label>
	<input id="expireInput" name="expireInput" type="date"required> 
	<br>
	<label for="contentInput">Uudise sisu</label>
	<textarea id="contentInput" name="contentInput" cols="100" placeholder="Uudise sisu..."required></textarea>
	<br>
	<label for="photoInput">Vali pildifail</label>
	<input id ="photoInput" name="photoInput" type="file">
	<br>
	<label for="photoaltInput">Pildi alternatiivtekst</label>
	<input id="photoaltInput" name="photoaltInput" width="200" type="text" placeholder="Sellel pildil on...">
	<br>
	<input id="newsSubmit" name="newsSubmit" type="submit" value="Salvesta">
  </form>
  <p><%=notice%></p>
</html>